.agent-card {
  position: relative;
  display: flex;


  &--white {
    .agent-card__body {
      background-color: $white;
    }

    .agent-card__name {

      @include adaptiv-value("-webkit-text-stroke-width",2);
      -webkit-text-stroke-color: $text;
    }
    .agent-card__abilityes {
      background-color: $white;
      @include adaptiv-value("border-width",2);
      border-color: $dark;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: poiner;
    z-index: $z--agent-card;
  }

  &__inner {
  }
  &__body {
    background: lighten($text,1%);
    height: 100%;


  }
  &__description {
    position: absolute;
    top: 0;
    @include adaptiv-value("left",-40);
    writing-mode: vertical-lr;
    font-family: $drukWide;
    font-weight: 500;
    @include adaptiv-value("padding-top",20);
  }

  &__name {
    text-transform: uppercase;
    @include adaptiv-value("font-size",72);
    @include adaptiv-value("-webkit-text-stroke-width",2);
    -webkit-text-stroke-color: #fff;
    -webkit-text-fill-color: transparent;
    padding-right: 6px;
  }

  &__country {
    color: $accent;
    @include adaptiv-value("font-size",24);
    @include adaptiv-value("letter-spacing",4);
  }

  &__abilityes {
    // max-width: 230px;
    // min-width: 220px;
    @include adaptiv-value("height", 90);
    @include adaptiv-value("padding-right", 35);
    @include adaptiv-value("padding-left", 35);
    @include adaptiv-value("padding-top", 10);
    @include adaptiv-value("padding-bottom", 10);
    position: absolute;
    @include adaptiv-value("left", 31);
    @include adaptiv-value("bottom", -35);
  }

  &__item {
  }
}