.page--decor::before,
.page--decor::after,
.wrapper--decor::before,
.wrapper--decor::after,
.header--decor::after {
  position: absolute;
}

.page--decor {

  &::before {
    content: '';
    top: -13.51vw;
    left: -13.02vw;
    @include adaptiv-value("width",1816);
    @include adaptiv-value("height",1816);
    background-color: $accent;
    border-radius: 50%;
  }

  &::after {
    display: flex;
    align-items: center;
    padding-left: 55px;
    top: 4.16vw;
    left: 4.16vw;
    content: 'Free files';
    color: $white;
    font-weight: 700;
    font-size: 1.6vw;
    height: 50px;
    background-image: url(../img/Logo/Figma.png);
    background-size: 50px 50px;
    background-position: 0 0;
    background-repeat: no-repeat;
    @media only screen and (-webkit-min-device-pixel-ratio: 2){
      padding-left: 110px;
      background-image: url(../img/Logo/Figma@2x.png);
      background-size: 100px 100px;
      height: 100px;
    }
  }
}

.wrapper--decor {


  &::before {
    content: '';
    right: 9vw;
    top: 3.35vw;
    width: 1.14vw ;
    height:  1.14vw ;
    background-color: $accent;
    border-radius: 50%;
  }

  &::after {
    content: '';
    right: 2.43vw;
    top:  18.73vw;
    width: 3.95vw ;
    height:  3.95vw ;
    background-color: $accent;
    border-radius: 50%;
    background-color: #505155;
  }
}

.header--decor {
  position: relative;

  &::after {
    content: '';
    right: -5.9vw;
    bottom: -1.65vw;
    z-index: -1;
    width: 10vw ;
    height:  10vw ;
    background-color: $white;
    border-radius: 50%;
  }

}

.phoenix{
  &--decor {
    &::before,
    &::after {
        content: '';
        @include adaptiv-value("top",-22);
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: $decor;
        @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        width: 8px;
        height: 8px;
        }
    }

    &::before {
      @include adaptiv-value("left",-75);
    }

    &::after {
      @include adaptiv-value("left",-107);

    }
  }

  &__inner--decor {
    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: $decor;
        @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        width: 40px;
        height: 40px;
        }
    }

    &::before {
      @include adaptiv-value("top",-30);
      @include adaptiv-value("right",73);
    }

    &::after {
      right: -2.768vw;
      bottom: 0.313vw;
    }
  }
}

.jett {
  &--decor {
    &::before,
    &::after {
        content: '';
        @include adaptiv-value("right",-29);
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: $decor;
        @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        width: 8px;
        height: 8px;
        }
    }

    &::before {
      @include adaptiv-value("top",102);
    }

    &::after {
      @include adaptiv-value("bottom",102);

    }
  }

  &__inner--decor {

    &::before {
      content: '';
      position: absolute;
      right:-12px;
      @include adaptiv-value("top",65);
      width: 12px;
      height: 4px;
      background-color: $decor;
      @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      right:-24px;
      width: 24px;
      height: 8px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      right: -20px;
      @include adaptiv-value("bottom",165);
      width: 20px;
      height: 4px;


      background-color: $decor;
      @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      right: -40px;
      width: 40px;
      height: 8px;
      }
    }
  }
}

.sova{
  &--decor {
    &::before {
      content: '';
      position: absolute;
      @include adaptiv-value("right",-33);
      @include adaptiv-value("top",-39);
      width: 110px;
      height: 4px;
      background-color: $decor;
      @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      width: 232px;
      height: 8px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      right: -15px;
      @include adaptiv-value("top",269);

      width: 15px;
      height: 20px;
      background-color: $decor;
      @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      right: -30px;
      width: 30px;
      height: 40px;
      }
    }
  }
}


.sage {
  &--decor {
    &::before,
    &::after {
        content: '';
        @include adaptiv-value("bottom",-65);

        position: absolute;
        width: 4px;
        height: 4px;
        background-color: $decor;
        @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        width: 8px;
        height: 8px;
        }
    }

    &::before {
      @include adaptiv-value("left",-2);
    }

    &::after {
      @include adaptiv-value("left",18);
    }
  }

  &__inner--decor {

    &::before {
      content: '';
      position: absolute;
      left: -15px;
      @include adaptiv-value("top",592);
      width: 15px;
      height: 4px;
      background-color: $decor;
      @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      left: -30px;
      width: 30px;
      height: 8px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      @include adaptiv-value("right",33);
      @include adaptiv-value("bottom",-55);
      width: 20px;
      height: 20px;
      background-color: $decor;
      @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      width: 40px;
      height: 40px;
      }
    }
  }
}

.footer__body--decor {
  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 50%;
  }

  &::before {
   @include adaptiv-value("bottom",60);
   @include adaptiv-value("left",10);
   @include adaptiv-value("width",63);
   @include adaptiv-value("height",63);


    background-color: #505155;
  }
  &::after {
    @include adaptiv-value("top",180);
   @include adaptiv-value("left",90);
    @include adaptiv-value("width",470);
   @include adaptiv-value("height",470);
    background-color: #efefef;
  }
}

.container--decor {
  &::before,
  &::after {
    content: '';
    position: absolute;
    // border-radius: 50%;
  }

  &::before {
    // bottom: -360px;
    // right: -150px;
    // width: 500px;
    // height: 100px;
    // clip-path: circle(200px);
    // background-color: #292C31;
    // z-index: -1;
  }
}