.footer {
  @include adaptiv-value("height",132);
  width: 100%;
  background-color: $white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  // overflow: hidden;
  &__body {
    position: relative;
    @include adaptiv-value("padding-bottom",304);
    overflow: hidden;
  }
}