.header {
  background-color: lighten($text,5%);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  @include adaptiv-value("padding-top",55);
  @include adaptiv-value("padding-bottom",63);
  @include adaptiv-value("padding-left",73);
  @include adaptiv-value("padding-right",73);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
  }

  &__logoes {
     @include adaptiv-value("margin-right",43);


  }

  &__riot{
    position: relative;
    @include adaptiv-value("padding-right",60);
    &::after {
      content: '';
      right: 0;
      top: 0;
      position: absolute;
      @include adaptiv-value("width", 2);
      @include adaptiv-value("height",42);
      background-color: $white;
    }
  }

  &__valorant {
    @include adaptiv-value("padding-left", 60);
  }
}

