.navigation {
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  @include adaptiv-value("font-size",14);

 &__list {
  display: flex;
 }

 &__item {
   &:not(:last-child) {
     @include adaptiv-value("margin-right",65);
   }
   a {
     color:currentColor;
   }
 }
}