.skills {
  position: absolute;
  left: 0;
  @include adaptiv-value("bottom",-40);
  @include adaptiv-value("margin-left",-80);

}

.skills__list {
  display: flex;
}

.skills__item:not(:last-child) {
  @include adaptiv-value("margin-right",80);

}

