/* Colors*/
$accent:#ff4656;
$text:#1f2326;
$white: #fff;
$dark: #000;
$gray: #f8f8f8;
$abbey: #505155;
$decor: #762e35;

/*Fonts*/
$text-font: "Montserrat";
$drukWide: "Druk Wide";


/* Grid*/
$hero-gap:80px;


/*Breakpoints*/
$xl:1400px;
$lg:1200px;
$md:992px;
$sm:768px;
$xs:576px;

/*Z-index*/
$z--agent-card: 100;

$screenWidth: 3100;

