:root {
    --screen-width: 3100;
}

/* Colors*/

/*Fonts*/

/* Grid*/

/*Breakpoints*/

/*Z-index*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

@font-face {
    font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../Montserrat-ExtraBold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: "Druk Wide";
  src: url("../fonts/Druk Wide-Medium.woff2") format("woff2"), url("../Druk Wide-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

.visibility-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    font-size: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.btn-reset {
    border: none;
    background-color: transparent;
}

.edge-cut {
    -webkit-clip-path: polygon(5% 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 0 39%, 0 2%);
    clip-path: polygon(5% 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 0 39%, 0 2%);
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: calc((16 / 3100) * 100vw);
    color: #000;
    background-color: #1f2326;
}

.page {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10.77vw 0;
}

.container {
    max-width: calc((2660 / 3100) * 100vw);
    margin: 0 auto;
    padding-left: 3.67vw;
    padding-right: 3.67vw;
}

.header {
    background-color: #2a3034;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding-top: calc((55 / 3100) * 100vw);
    padding-bottom: calc((63 / 3100) * 100vw);
    padding-left: calc((73 / 3100) * 100vw);
    padding-right: calc((73 / 3100) * 100vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__logoes {
    margin-right: calc((43 / 3100) * 100vw);
}

.header__riot {
    position: relative;
    padding-right: calc((60 / 3100) * 100vw);
}

.header__riot::after {
    content: '';
    right: 0;
    top: 0;
    position: absolute;
    width: calc((2 / 3100) * 100vw);
    height: calc((42 / 3100) * 100vw);
    background-color: #fff;
}

.header__valorant {
    padding-left: calc((60 / 3100) * 100vw);
}

.navigation {
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-size: calc((14 / 3100) * 100vw);
}

.navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navigation__item:not(:last-child) {
    margin-right: calc((65 / 3100) * 100vw);
}

.navigation__item a {
    color: currentColor;
}

.user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.user__name {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-size: calc((14 / 3100) * 100vw);
}

.user__name::before {
    content: '';
    position: absolute;
    right: -10px;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-left-width: calc((10 / 3100) * 100vw);
    border-right-width: calc((6 / 3100) * 100vw);
    border-bottom-width: 0;
    border-left-width: calc((6 / 3100) * 100vw);
    border-color: #ffffff transparent transparent transparent;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.user__avatar {
    margin-right: 10px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-image: url(../img/User/avatar.png);
    background-size: 21px 21px;
    background-position: center;
}

.hero {
    position: relative;
    padding: 55px 0 180px 360px;
    padding-top: calc((113 / 3100) * 100vw);
    padding-right: 0;
    padding-bottom: calc((349 / 3100) * 100vw);
    padding-left: calc((500 / 3100) * 100vw);
    background-image: url(../img/background.png);
    background-color: #ff4656;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero::after {
    content: 'AGENTS';
    position: absolute;
    top: calc((113 / 3100) * 100vw);
    left: calc((187 / 3100) * 100vw);
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: calc((3 / 3100) * 100vw);
    -webkit-text-fill-color: transparent;
    font-size: calc((156 / 3100) * 100vw);
    font-weight: 500;
    font-family: "Druk Wide";
}

.hero::before {
    content: '';
    bottom: 8.077vw;
    left: calc((100 / 3100) * 100vw);
    position: absolute;
    width: 41px;
    height: 50px;
    background-image: url(../img/Logo/Valorant-decor.png);
    background-size: 41px 50px;
    background-repeat: no-repeat;
}

.hero__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-right: calc((-40 / 3100) * 100vw);
}

.hero__item:not(:last-child) {
    margin-right: calc((144 / 3100) * 100vw);
}

.agent-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.agent-card--white .agent-card__body {
    background-color: #fff;
}

.agent-card--white .agent-card__name {
    -webkit-text-stroke-width: calc((2 / 3100) * 100vw);
    -webkit-text-stroke-color: #1f2326;
}

.agent-card--white .agent-card__abilityes {
    background-color: #fff;
    border-width: calc((2 / 3100) * 100vw);
    border-color: #000;
}

.agent-card__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: poiner;
    z-index: 100;
}

.agent-card__body {
    background: #212629;
    height: 100%;
}

.agent-card__description {
    position: absolute;
    top: 0;
    left: calc((-40 / 3100) * 100vw);
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    font-family: "Druk Wide";
    font-weight: 500;
    padding-top: calc((20 / 3100) * 100vw);
}

.agent-card__name {
    text-transform: uppercase;
    font-size: calc((72 / 3100) * 100vw);
    -webkit-text-stroke-width: calc((2 / 3100) * 100vw);
    -webkit-text-stroke-color: #fff;
    -webkit-text-fill-color: transparent;
    padding-right: 6px;
}

.agent-card__country {
    color: #ff4656;
    font-size: calc((24 / 3100) * 100vw);
    letter-spacing: calc((4 / 3100) * 100vw);
}

.agent-card__abilityes {
    height: calc((90 / 3100) * 100vw);
    padding-right: calc((35 / 3100) * 100vw);
    padding-left: calc((35 / 3100) * 100vw);
    padding-top: calc((10 / 3100) * 100vw);
    padding-bottom: calc((10 / 3100) * 100vw);
    position: absolute;
    left: calc((31 / 3100) * 100vw);
    bottom: calc((-35 / 3100) * 100vw);
}

.abilityes {
    border-width: calc((2 / 3100) * 100vw);
    border-style: solid;
    border-color: #fff;
    background: #212629;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.abilityes--white {
    background-color: #fff;
    border-width: calc((2 / 3100) * 100vw);
    border-style: solid;
    border-color: #000;
}

.abilityes__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.abilityes__item:not(:last-child) {
    margin-right: calc((47 / 3100) * 100vw);
}

.skills {
    position: absolute;
    left: 0;
    bottom: calc((-40 / 3100) * 100vw);
    margin-left: calc((-80 / 3100) * 100vw);
}

.skills__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.skills__item:not(:last-child) {
    margin-right: calc((80 / 3100) * 100vw);
}

.skill {
    -webkit-filter: drop-shadow(0px 0px 3px #000000);
    filter: drop-shadow(0px 0px 3px #000000);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.skill__body {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-top: calc((31 / 3100) * 100vw);
    padding-left: calc((58 / 3100) * 100vw);
    padding-right: calc((72 / 3100) * 100vw);
    padding-bottom: 0;
    -webkit-clip-path: polygon(4% 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 0 39%, 0 6%);
    clip-path: polygon(4% 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 0 39%, 0 6%);
}

.skill__body.skill__body--triangel {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: calc((219 / 3100) * 100vw);
    flex-basis: calc((219 / 3100) * 100vw);
}

.skill__body.skill__body--triangel:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: calc((9 / 3100) * 100vw);
    border-right-width: calc((0 / 3100) * 100vw);
    border-bottom-width: calc((9 / 3100) * 100vw);
    border-left-width: calc((21 / 3100) * 100vw);
    border-color: transparent transparent transparent #000000;
}

.skill__description {
    max-width: calc((320 / 3100) * 100vw);
    margin-right: 40px;
}

.skill__category,
.skill__name {
    font-family: "Druk Wide";
    font-weight: 500;
    margin-bottom: calc((32 / 3100) * 100vw);
}

.skill__category {
    font-size: calc((40 / 3100) * 100vw);
    color: #c4c4c4;
}

.skill__name {
    color: #000;
    font-size: 16px;
    font-size: calc((24 / 3100) * 100vw);
}

.skill__text {
    color: #000;
    font-size: calc((16 / 3100) * 100vw);
    padding-bottom: calc((31 / 3100) * 100vw);
}

.skill__image {
    position: relative;
    min-width: calc((190 / 3100) * 100vw);
    height: calc((182 / 3100) * 100vw);
    background-color: #ff4656;
}

.skill__image img {
    position: absolute;
    top: -25px;
    right: -25px;
    top: calc((-40 / 3100) * 100vw);
    right: calc((-40 / 3100) * 100vw);
    width: 100%;
    height: 100%;
}

.footer {
    height: calc((132 / 3100) * 100vw);
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.footer__body {
    position: relative;
    padding-bottom: calc((304 / 3100) * 100vw);
    overflow: hidden;
}

.page--decor::before,
.page--decor::after,
.wrapper--decor::before,
.wrapper--decor::after,
.header--decor::after {
    position: absolute;
}

.page--decor::before {
    content: '';
    top: -13.51vw;
    left: -13.02vw;
    width: calc((1816 / 3100) * 100vw);
    height: calc((1816 / 3100) * 100vw);
    background-color: #ff4656;
    border-radius: 50%;
}

.page--decor::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 55px;
    top: 4.16vw;
    left: 4.16vw;
    content: 'Free files';
    color: #fff;
    font-weight: 700;
    font-size: 1.6vw;
    height: 50px;
    background-image: url(../img/Logo/Figma.png);
    background-size: 50px 50px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.wrapper--decor::before {
    content: '';
    right: 9vw;
    top: 3.35vw;
    width: 1.14vw;
    height: 1.14vw;
    background-color: #ff4656;
    border-radius: 50%;
}

.wrapper--decor::after {
    content: '';
    right: 2.43vw;
    top: 18.73vw;
    width: 3.95vw;
    height: 3.95vw;
    background-color: #ff4656;
    border-radius: 50%;
    background-color: #505155;
}

.header--decor {
    position: relative;
}

.header--decor::after {
    content: '';
    right: -5.9vw;
    bottom: -1.65vw;
    z-index: -1;
    width: 10vw;
    height: 10vw;
    background-color: #fff;
    border-radius: 50%;
}

.phoenix--decor::before,
.phoenix--decor::after {
    content: '';
    top: calc((-22 / 3100) * 100vw);
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #762e35;
}

.phoenix--decor::before {
    left: calc((-75 / 3100) * 100vw);
}

.phoenix--decor::after {
    left: calc((-107 / 3100) * 100vw);
}

.phoenix__inner--decor::before,
.phoenix__inner--decor::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #762e35;
}

.phoenix__inner--decor::before {
    top: calc((-30 / 3100) * 100vw);
    right: calc((73 / 3100) * 100vw);
}

.phoenix__inner--decor::after {
    right: -2.768vw;
    bottom: 0.313vw;
}

.jett--decor::before,
.jett--decor::after {
    content: '';
    right: calc((-29 / 3100) * 100vw);
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #762e35;
}

.jett--decor::before {
    top: calc((102 / 3100) * 100vw);
}

.jett--decor::after {
    bottom: calc((102 / 3100) * 100vw);
}

.jett__inner--decor::before {
    content: '';
    position: absolute;
    right: -12px;
    top: calc((65 / 3100) * 100vw);
    width: 12px;
    height: 4px;
    background-color: #762e35;
}

.jett__inner--decor::after {
    content: '';
    position: absolute;
    right: -20px;
    bottom: calc((165 / 3100) * 100vw);
    width: 20px;
    height: 4px;
    background-color: #762e35;
}

.sova--decor::before {
    content: '';
    position: absolute;
    right: calc((-33 / 3100) * 100vw);
    top: calc((-39 / 3100) * 100vw);
    width: 110px;
    height: 4px;
    background-color: #762e35;
}

.sova--decor::after {
    content: '';
    position: absolute;
    right: -15px;
    top: calc((269 / 3100) * 100vw);
    width: 15px;
    height: 20px;
    background-color: #762e35;
}

.sage--decor::before,
.sage--decor::after {
    content: '';
    bottom: calc((-65 / 3100) * 100vw);
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #762e35;
}

.sage--decor::before {
    left: calc((-2 / 3100) * 100vw);
}

.sage--decor::after {
    left: calc((18 / 3100) * 100vw);
}

.sage__inner--decor::before {
    content: '';
    position: absolute;
    left: -15px;
    top: calc((592 / 3100) * 100vw);
    width: 15px;
    height: 4px;
    background-color: #762e35;
}

.sage__inner--decor::after {
    content: '';
    position: absolute;
    right: calc((33 / 3100) * 100vw);
    bottom: calc((-55 / 3100) * 100vw);
    width: 20px;
    height: 20px;
    background-color: #762e35;
}

.footer__body--decor::before,
.footer__body--decor::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.footer__body--decor::before {
    bottom: calc((60 / 3100) * 100vw);
    left: calc((10 / 3100) * 100vw);
    width: calc((63 / 3100) * 100vw);
    height: calc((63 / 3100) * 100vw);
    background-color: #505155;
}

.footer__body--decor::after {
    top: calc((180 / 3100) * 100vw);
    left: calc((90 / 3100) * 100vw);
    width: calc((470 / 3100) * 100vw);
    height: calc((470 / 3100) * 100vw);
    background-color: #efefef;
}

.container--decor::before,
.container--decor::after {
    content: '';
    position: absolute;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .user__avatar {
        width: 42px;
        height: 42px;
        background-image: url(../img/User/avatar@2x.png);
        background-size: 42px 42px;
    }

    .hero::before {
        width: 80px;
        height: 99px;
        background-image: url(../img/Logo/Valorant-decor@2x.png);
        background-size: 80px 99px;
    }

    .page--decor::after {
        padding-left: 110px;
        background-image: url(../img/Logo/Figma@2x.png);
        background-size: 100px 100px;
        height: 100px;
    }

    .phoenix--decor::before,
  .phoenix--decor::after {
        width: 8px;
        height: 8px;
    }

    .phoenix__inner--decor::before,
  .phoenix__inner--decor::after {
        width: 40px;
        height: 40px;
    }

    .jett--decor::before,
  .jett--decor::after {
        width: 8px;
        height: 8px;
    }

    .jett__inner--decor::before {
        right: -24px;
        width: 24px;
        height: 8px;
    }

    .jett__inner--decor::after {
        right: -40px;
        width: 40px;
        height: 8px;
    }

    .sova--decor::before {
        width: 232px;
        height: 8px;
    }

    .sova--decor::after {
        right: -30px;
        width: 30px;
        height: 40px;
    }

    .sage--decor::before,
  .sage--decor::after {
        width: 8px;
        height: 8px;
    }

    .sage__inner--decor::before {
        left: -30px;
        width: 30px;
        height: 8px;
    }

    .sage__inner--decor::after {
        width: 40px;
        height: 40px;
    }
}